@import './mixins.scss';
@import './overrides.scss';
@import './header';

.landing-page__illo {
  max-width: 100%;
}

.landing-page__banner {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 0rem;
 
  
}

.landing-page__heading {
  @include carbon--type-style('productive-heading-05');

}

.landing-page__r2 {
  //margin-top: rem(-40px);
  margin-top: 4.2rem;
  
}

.landing-page__tab-content {
  padding-top: $layout-05;
  padding-bottom: $layout-05;
}

.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.landing-page__p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.landing-page__r3 {
  padding-top: $spacing-09;
  padding-bottom: $spacing-09;
  @include landing-page-background;
}

.landing-page__label {
  @include carbon--type-style('heading-01');
}

@media (max-width: 120rem){
  .bx--header__menu-toggle__hidden {
      display: block;
  }
}

.bx--row {
  margin-left: 0.1rem;
}

.bx--header {
  height: 4.2rem;
  background-color: #ffcc00;
  border-bottom: 1px solid #ffcc00;
}


.bx--side-nav--ux {
  top: 4.2rem;
  width:auto;
  border-right: 1px solid lightgray;
}

.bx--side-nav {
  width: 3rem;
}

.bx--side-nav:not(.bx--side-nav--fixed):hover, .bx--side-nav--expanded {
  width: auto;
}

/*
.bx--header ~ .bx--side-nav--expanded {
  width:2.5rem;
}*/
.bx--side-nav--expanded {
  width:3rem;
}

.bx--header__menu-trigger:hover {
  background-color: #FFA500;
}

.bx--header__action:hover {
  background-color:#FFA500;
}

.bx--header ~ .bx--side-nav {
  top: 4.2rem;
  height: calc(100% - 68px);
  width:2.5rem;
}

.bx--header-panel--expanded {
  width: auto;
}

.bx--header-panel {
  top: 4.2rem;
  background-color: white;
}

.bx--switcher__item-link {
  color: #525252
}

.pushButton--container {
  padding-top : 1rem ; 
  height: 3rem;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 700;
}
.pushButton {
  width: 1.2rem;
  height: 1.2rem;  
  margin-left: 0.8rem;
  margin-right:1.5rem; 
}

.pushButton:hover {
  transform: scale3d(1.3,1.3,1.3);
}

.pushButton:active {
  transform: scale3d(1.5,1.5,1.5);
}