.landing-page__r2 .bx--tabs__nav {
  right: 0;
}

.landing-page__r2 .bx--label{
  font-size: 1.1rem;
  font-weight: 700;
}
.landing-page__r2 .bx--text-input{
  font-size: .95rem;
  font-weight: 700;
}
.landing-page__r2 .bx--list-box__menu-item__option{
  font-size: 1.1rem;
  font-weight: 700;
}
